* {
    box-sizing: border-box;
    font-family:"Arial, Helvetica, sans-serif";
    background-color: #d3d4d4;
}

h1 {
    margin-top: 10px;
    font-size: 50px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tutorial h2 {
    text-align: center;

}

#tutorial {
    border: 3px solid rgb(88, 83, 83);
    box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.46);
    -webkit-box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.46);
    padding: 5px;
}

#close-tutorial {
    margin-left: 46%;
    padding: 3px;
    border-radius: 5px;
}

.hidden {
    display: none;
}

.how-button {
    margin-bottom: 15px;
    height: 30px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 15px;
}

#message {
    font-weight: bold;
    font-size: 20px;
}

.guess-row {
    display: flex;
    gap: 8px;
    margin-bottom: 15px;
}

.guess-letter {
    height: 50px;
    width: 50px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    font-size: 30px;
    justify-content: center;
    text-transform: uppercase;
}

.keyboardLetter, .delete, .submit {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 55px;
    margin: 3px;
    border: 2px solid black;
    border-radius: 3px;
    cursor: pointer;
    background-color: #818384;
}

.delete {
    width: 90px;
}

.keyboardLetter:nth-child(11){
    margin-left: 30px ;
}

.keyboardetter:nth-child(20){
    margin-left: 60px;
}

.correct-letter{
    background-color: #538d4e;
}

.present-letter{
    background-color: #b59f3b;
}

.absent-letter{
    background-color: #3a3a3c;
}