* {
    box-sizing: border-box;
}

h1 {
    margin-top: 10px;
    font-size: 50px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guess-row {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.guess-letter {
    height: 50px;
    width: 50px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    font-size: 30px;
    justify-content: center;
    text-transform: uppercase;
}

.keyboardLetter, .delete {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 55px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 3px;
    cursor: pointer;
    background-color: #818384;
}

.delete {
    width: 100px;
}

.keyboardLetter:nth-child(11){
    margin-left: 30px ;
}

.keyboardetter:nth-child(20){
    margin-left: 60px;
}